.rbc-header {
	padding: 15px;
	font-size: 16px;
}

.rbc-time-header-content > .rbc-row.rbc-row-resource {
	box-shadow: none;
	border-bottom: none;
}

.rbc-allday-cell {
	display: none;
}

.rbc-overflowing {
	border-right: 0 !important;
}

.rbc-today {
	background: transparent;
}

.rbc-time-content {
	border-top: none;
	overflow-x: hidden;
}

.rbc-current-time-indicator {
	height: 2px;
	background-color: tomato;
}

.rbc-timeslot-group {
	min-height: 300px !important;
}

.rbc-time-view-resources .rbc-time-gutter {
	z-index: inherit;
}

.rbc-time-header-gutter,
.rbc-time-header-content,
.rbc-time-view {
	border: none !important;
}

.rbc-time-header-gutter,
.rbc-time-gutter {
	background-color: transparent !important;
}

.rbc-time-gutter .rbc-timeslot-group {
	border: none;
	padding: 0 5px 0 10px;
}

.rbc-time-gutter .rbc-timeslot-group .rbc-label {
	position: relative;
	top: -12px;
	font-size: 12px;
	font-weight: 500;
	color: #aaa;
}

.rbc-time-gutter .rbc-timeslot-group:first-of-type .rbc-label {
	display: none;
}

.rbc-day-slot .rbc-time-slot {
	border-top: 1px solid rgba(232, 234, 241, 1);
}

.rbc-time-slot {
	min-height: 1px !important;
}

.rbc-event {
	min-height: 1px !important;
	width: calc(100% - 4px) !important;
	left: 0 !important;
	border: none !important;
	margin: 0 2px;
	border-radius: 4px;
	border-top: 1px solid rgba(249, 249, 249, 1) !important;
}

.rbc-event-label {
	display: none;
}

.rbc-day-slot .rbc-events-container {
	margin-right: 2px;
}

/* DRAG AND DROP STYLES */
.rbc-addons-dnd-dragged-event {
	pointer-events: none;
	opacity: 0.3 !important;
	background: rgba(150, 150, 150) !important;
}

.rbc-addons-dnd-resizable {
	display: flex;
	align-items: center;
}

.rbc-slot-selection {
	background: rgba(250, 250, 250, 1);
	box-shadow: 0px 3px 2px rgba(32, 32, 32, 0.1);

	border: 1px dashed rgba(150, 150, 150, 1);
	color: rgba(54, 70, 141, 1);
	font-size: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
}
