.closed-dates-calendar .rbc-day-bg:hover {
	background: rgba(54, 70, 141, 0.1);
}

.closed-dates-calendar .rbc-off-range-bg {
	background: rgba(249, 249, 249, 1);
}

.closed-dates-calendar .rbc-selected-cell {
	background: rgba(54, 70, 141, 0.1);
}
