@font-face {
	font-family: jaf-domus;
	src: url('./jaf-domus/jaf-domus-700.ttf');
	font-weight: 700;
}

@font-face {
	font-family: jaf-domus;
	src: url('./jaf-domus/jaf-domus-100.ttf');
	font-weight: 100;
}

@font-face {
	font-family: jaf-domus;
	src: url('./jaf-domus/jaf-domus-300.ttf');
	font-weight: 300;
}

@font-face {
	font-family: jaf-domus;
	src: url('./jaf-domus/jaf-domus-400.ttf');
	font-weight: 400;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
}

html,
body,
#root,
.ant-layout {
	width: 100%;
	height: 100%;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.page-load-fade {
	opacity: 0;
	animation: fadein 0.5s ease forwards;
}

.ant-btn {
	font-size: 12px !important;
}

.ant-table {
	background: #fff;
}

.ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td {
	background: inherit !important;
}

h1 {
	font-size: 24px;
	font-weight: 700;
	color: rgba(39, 39, 39, 1);
}
